* {
    font-family: "Helvetica", sans-serif;
    margin: 0;
    text-decoration: none;
    color: black;
    font-size: 24px;
}

/* shared elements */
.logoImg {
    width: 400px;
    padding: 24px 36px;
}

.bodyContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 48px 36px;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.navElement {
    padding-bottom: 8px;
}

.navElement:hover {
    font-weight: bold;
    background-color: yellow;
}

.linebreak {
    border-color: black;
    border-width: thick;
    margin: 0 36px;
}

/* home page */
.header {
    font-size: 24px;
    margin: 24px 0;
}

.productContainer {
    padding-bottom: 12px;
    margin-bottom: 24px;
    font-size: 16px;
}

.productContainer:hover {
    padding: 8px;
    background-color: yellow;
}

.productContainer:hover .productName {
    font-weight: bold;
}

.productImg {
    width: 400px;
    height: 400px;
    border: 3px solid black;
}

/* elements in pdp */
#pdpImg {
    width: 600px;
    height: 600px;
    border: 3px solid black;
}

#productDes, .custom, .dropdown {
    width: 300px;
    margin: 24px 0;
}

.dropdown {
    margin: 12px 0;
    padding: 4px 0;
    border-color: black;
}

#total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}

#atcButton, #checkoutButton {
    background-color: yellow;
    padding: 12px 24px;
    border-width: 3px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    /* text-decoration: none; */
}

#checkoutButton {
    margin-top: 12px;
}

/* elements in cart */
.cartImg {
    width: 200px;
    height: 200px;
    border: 3px solid black;
}

.remove {
    font-size: 16px;
    font-weight: bold;
    margin: 12px 0;
}

#cartInfo {
    font-size: 16px;
    margin: 12px 0 24px;
    text-align: center;
}

.price {
    margin: 16px 0;
}

#linebreak2 {
    border-color: black;
    border-width: 2px;
    margin-bottom: 24px;
    width: 600px;
}
